<form method="post" action="{{ path('parts_delete', {'id': part.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ part.id) }}">
    <button class="btn deletePartsBtn btn-primary">Supprimer</button>
</form>
