{% extends 'base.html.twig' %}

{% block title %}Parts{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">A propos de Drums&all</h2>
        <p class="text-center">
            J'ai créé ce site afin de partager ma passion pour la batterie.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis massa finibus, dictum lacus eu, consectetur
            eros. In non lacinia lorem, at porttitor est. Vivamus ipsum nunc, varius et nunc et, faucibus convallis lacus. Morbi
            id lectus viverra massa interdum condimentum mattis in metus. Phasellus tempor viverra congue. Vestibulum pulvinar lacus
            quis leo molestie posuere. Praesent et ornare nulla. Nulla vulputate ligula quis lacus ornare, sit amet imperdiet magna
            bibendum. Nunc eros felis, placerat vel ex quis, sollicitudin sagittis nisi. Etiam rutrum arcu quis pellentesque
            vulputate. Nunc quis neque a orci vulputate pellentesque. Etiam et condimentum odio, a aliquet lacus. Maecenas et
            tortor metus. Pellentesque non commodo diam, nec varius eros. Pellentesque faucibus lorem id elit laoreet tempus.
            Praesent consectetur at neque sed placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
        <p class="text-info text-center">Pour me contacter : drumsandallcontact@gmail.com</p>
    </div>
</div>
{% endblock %}
