body {
    width: 100%;
    height: auto;
}

header {
    background-color: #2C3E50;
    color : whitesmoke;
    padding: 5px;
    margin-bottom: 3%;
    width: auto;
}

footer {
    text-align: center;
    width: 100%;
    height: 7vw ;
    margin-top : 7%;
    background-color: #2C3E50;
    color : whitesmoke;
}

h1 {
    text-align: center;
}

a {
    color : black;
}

a:hover {
    color : black;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;

}
.img_avatar {
    width: 6vw;
    height: auto;
}

.img_parts {
    width: 45%;
    height: auto;
}

label.required:before {
    content: "*";
}

.TextCustomCards {
    list-style: none;
    text-align: start;
}

.TextCustomMenu {
    text-align: center;
}

.CategoryNameParts {
    font-weight: bold;
}

.navbar {
    flex-direction: column;
}

.infos_home {
    padding: 15px;
    margin: auto auto 5% auto;
    text-align: justify;
    box-shadow: 6px 6px 5px gray;
    border-radius: 1vw;
}

.tabParts {
    display: flex;
    flex-direction: column;

}

.unrolledsMenus {
    text-align: center;
}

.formView {
    border: 2px solid #2C3E50 ;
    border-top: none;
    border-left: none;
    border-radius: 1vw;
    padding: 15px;
    width: 50%;
    margin: auto auto 5% auto ;
    box-shadow: 10px 5px 5px gray;
}

.formResearch {
    border: 1px solid brown;
    border-radius: 1vw;
    padding: 15px;
    width: 86%;
    margin: auto;
}

.formResearch > button {
    display: block;
    align-items: center;
    margin: auto;
}

 .formView > div > a  {
    display: block;
    text-align: center;
    background-color: #18BC9C;
    color: whitesmoke;
    border-radius: 6px;
    width: 17vw;
     margin: auto;
}

.formView > a:hover {
    background-color: whitesmoke;
    color : firebrick;
    border: 1px solid firebrick;
}

.formLogin{
    border: 1px solid brown;
    border-top: none;
    border-left: none;
    border-radius: 1vw;
    padding: 15px;
    width: 45%;
    margin :auto;
    box-shadow: 8px 7px 7px black;
    text-align: center;
}
/* @media (max-width: 812px) {
    #AllMenu > nav > .unrolledsMenus , .link_account, .searchUserLink , a {
        display: none;
    }

    .btnMenu {
        display: block;
        position: relative;
        margin-left: 48%;
    }

    #AllMenu > span {
        display: inline-block;
    }

    #AllMenu:hover > nav > .unrolledsMenus, .searchUserLink, a , .link_account{
        display: inline-block;
    }


    .searchUserLink {
        text-align: center;
    }

    .link_account {
        display: none;
    }

    .unrolledsMenus {
        text-align: center;
        padding: 0;
    }

    .accountMenuMobile {
        display: flex;
        flex-direction: column;
    }

    .link_home{
        text-align: center;

    }



} */