header {
    background-color: brown;
    color : whitesmoke;
    border-radius: 7px;
    margin : 10px ;
    padding: 5px;
    overflow-wrap: break-word;
}

footer {
    text-align: center;
    width: 100%;
    height: 7vw ;
    background-color: brown;
    color : whitesmoke;
}


h1 {
    text-align: center;
}

.accountMenuMobile {
    display: none;
}

.mainTitle {
    margin-left: 16%;
}

a {
    color : black;
}

a:hover {
    color : slategray;
    text-decoration: none;
}

.link_account {
    text-align: end;
    display: flex;
    flex-direction: column;
}


img {
    width: 21vw;
    height: auto;

}

.img_avatar {
    width: 6vw;
    height: auto;
}

.searchUserLink {
    text-align: right;
    padding-top: 5px;
}

.unrolledsMenus {
    text-align: center;
}

.btnMenu {
    display: none;
}

button:focus {
    background-color: whitesmoke;
}

.formView {
    border: 1px solid brown;
    border-radius: 1vw;
    padding: 15px;
    width: 50%;
    margin: auto;
}

.formResearch {
    border: 1px solid brown;
    border-radius: 1vw;
    padding: 15px;
    width: 86%;
    margin: auto;
}

.formResearch > button {
    display: block;
    align-items: center;
    margin: auto;
}

.formView > a  {
    display: block;
    text-align: center;
    margin: auto;
    background-color: firebrick;
    color: whitesmoke;
    border-radius: 6px;
    width: 18%;
    padding: 5px;
}

.formView > a:hover {
    background-color: whitesmoke;
    color : firebrick;
    border: 1px solid firebrick;
}


@media (max-width: 812px) {
    #AllMenu > nav > .unrolledsMenus , .link_account, .searchUserLink , a {
        display: none;
    }

    .btnMenu {
        display: block;
        position: relative;
        margin-left: 48%;
    }

    #AllMenu > span {
        display: inline-block;
    }

    #AllMenu:hover > nav > .unrolledsMenus, .searchUserLink, a , .link_account{
        display: inline-block;
    }


    .searchUserLink {
        text-align: center;
    }

    .link_account {
        display: none;
    }

    .unrolledsMenus {
        text-align: center;
        padding: 0;
    }

    .accountMenuMobile {
        display: flex;
        flex-direction: column;
    }

    .link_home{
        text-align: center;

    }



}